.group-input-query {
    position: relative;
    .search-results {
        box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
        border-radius: 4px;
        position: absolute;
        width: 100%;
        background: white;
        z-index: 2;
    }

    .search-item {
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
            background-color: #098DFF;
            color: white;
        }
    }
}